<div class="row">
  <section id="intro" data-speed="4" data-type="background">
    <h1 class="col-sm-offset-1 title">MobileJS</h1>
    <h2 class="col-sm-offset-1 subtitle">by BarcelonaJS <a href="http://barcelonajs.org"><img class="header-logo" src="/assets/images/logo.png" alt="logo" /></a></h2>
    <div class="mostimportant">
      <span class="when">24. May 2014</span><br />
      <span class="where">Mobile World Centre, C/ de Fontanella, 2, Barcelona</span>
    </div>
  </section>
</div>

  <div class="spacer row">
    <h3 class="text-center"><a href="https://ti.to/barcelonajs/mobilejs">Register here (free)</a></h3>
    <p class="text-right"><i class="fa fa-twitter"></i> @bcnjs / #mobilejs</p>
  </div>

  <section class="agenda row">
    <div class="col-xs-12">
      <h3 class="col-sm-offset-1">Agenda</h3>
      <ul class="agenda-list list-group">
        <li class="list-group-item">UX mobile patterns in Titanium, Javier Rayón</li>
        <li class="list-group-item">Connecting your Arduino through mobile networks, a practical demo, Javier Zorzano</li>
        <li class="list-group-item">Hybrid apps with Ionic, Sergio Gimeno</li>
      </ul>
    </div>
  </section>

  <section class="speakers row">
    <div class="col-xs-12">
      <h3 class="col-sm-offset-1">Speakers</h3>
    </div>
    {{#each speakers}}
    <div class="speaker equal col-xs-12 col-sm-12 col-md-4">
      <div class="speaker-portrait col-xs-6 col-sm-2" style="background-image: url({{portrait}});"></div>
      <div class="speaker-profile">
        <span class="speaker-name">{{name}}</span>
        <p>{{bio}}</p>
        <a href="http://twitter.com/{{twitter}}"><i class="fa fa-twitter"></i> {{twitter}}</a>
      </div>
    </div>
    {{/each}}
  </section>

  <section class="sponsors row">
    <div class="col-xs-12">
      <h3 class="col-sm-offset-1">Sponsors</h3>
      {{#each sponsors}}
      <div class="sponsor col-xs-12 col-sm-4 text-center">
        <a href="{{url}}"><img class="sponsor-logo" src="{{logo}}" alt={{name}} /></a>
      </div>
      {{/each}}
      <div class="col-xs-12"><p>We're currently looking for sponsors. Interested? <a href="mailto:mobile@barcelonajs.org">Get in touch</a>.</p></div>
    </div>
  </section>

  <section class="speakers row">
    <div class="col-xs-12">
      <h3 class="col-sm-offset-1">Workshops & More</h3>
    </div>
  </section>

  <section class="team row">
    <div class="col-xs-12">
      <h3 class="col-sm-offset-1">Team</h3>
    </div>
    {{#each team}}
    <div class="member equal col-xs-12 col-sm-12 col-md-6">
      <div class="member-portrait col-xs-6 col-sm-2" style="background-image: url({{portrait}});"></div>
      <div class="member-profile">
        <span class="member-name">{{name}}</span>
        <p>{{bio}}</p>
        <a href="http://twitter.com/{{twitter}}"><i class="fa fa-twitter"></i> {{twitter}}</a>
      </div>
    </div>
    {{/each}}
  </section>
</div>
